/* PROJECT CARDS */
.project-card {
  width: 70%;
  position: relative;
  box-shadow: -15px 15px var(--black);
  border: solid 3px var(--black);
  border-radius: 30px;
  min-height: 350px;
  padding-bottom: 30px;
}

.project-card.right {
  text-align: right;
	margin-left: 20%;
}

.project-card.left {
  text-align: right;
	margin-right: 20%;
}