@import "style.css";

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--black);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
  }